.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/storeskilimanjaro0.appspot.com/o/banner5.jpg?alt=media&token=398f3cd5-e229-42c1-ba5c-ed432cb2dd72");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    position: relative;
    z-index: 1;
    color: white;
    background-attachment: fixed;
    
}

.banner::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}