.fondo{
    background-color: rgb(239, 232, 14);
    color: rgb(10, 10, 10);


    
    
}

.fondo2{
   
    background-image: url("https://firebasestorage.googleapis.com/v0/b/easysolution-4e923.appspot.com/o/banner2.png?alt=media&token=dbfaf813-87ba-49a8-ba11-f958c97337ae");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    position: relative;
    z-index: 1;
    color: rgb(4, 4, 4);
    background-attachment: fixed;
}